# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\DSA_lab_Patka_Richard_Istvan\DSA_lab_Patka-Richard-Istvan\lab3\HF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
